:host {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    max-height: 400px;
}

.game {
    /* background-image: url(../../../assets/images/ + game); */
    background-color: rgb(82, 82, 88);
    border: 1px solid white;
    background-size: cover;
    height: calc((100vh - 120px) / 3);
    max-height: 340px;
    position: relative;
    width: 20%;
}

.game:hover {
    cursor: pointer;
}

.price {
    color: white;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 20%;
    font-size: 20px;
    padding: 5px 10px;
    text-align: end;
}

.details {
    opacity: 0;
    padding-top: 10px;
    font-size: 15px;
}

.name {
    text-align: start;
    font-size: 22px;
    bottom: 0;
    position: absolute;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.arrow {
    width: 0;
    height: 0;
    cursor: pointer;
}

.arrow:active {
    transform: scale(1.2);
}

.prev {
    border-right: 12px solid rgba(255, 255, 255, 0.7);
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.next {
    border-left: 12px solid rgba(255, 255, 255, 0.7);
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}