.main {
    display: flex;
}

.gallery {
    background: #1E2230;
    width: 65%;
    height: 800px;
    display: grid;
    grid-auto-columns: 1fr;
}

.auth {
    background: #0D0B1D;
    width: 35%;
}