.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 93.7vh;
}

.buttons {
    flex: 1;
    border: 1px solid black;
    margin: 0 auto;
}

button {
    display: block;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 5px 0;
    width: 120px;
    border-radius: 2px;
    border: 1px solid rgb(20, 20, 20);
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(85, 85, 85);
}
