# Editor configuration, see http://editorconfig.org
# @formatter:off
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.ts,*.ats}]
ij_continuation_indent_size = 4
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_use_double_quotes = true
ij_typescript_force_quote_style = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_imports_wrap = split_into_lines
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_type_assertion = true

[*.less]
indent_size = 2
tab_width = 2

[{*.ng,*.shtm,*.sht,*.shtml,*.htm,*.html}]
ij_continuation_indent_size = 4
ij_html_attribute_wrap = split_into_lines
ij_html_quote_style = double
ij_html_enforce_quotes = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
# @formatter:on
