header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Baloo Chettan 2', cursive;
}

.logo {
  font-size: large;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px dashed blueviolet;
  border-radius: 10px;
  margin-left: 30px;
}

.header__item {
  display: inline-block;
}

.header__list>.header__item:not(:first-child) {
  border-left: 1px solid white;
}

.header__link {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.last-link {
  margin-left: auto;
}
