.game {
  background-position: bottom;
  background-color: rgb(82, 82, 88);
  border: 1px solid white;
  background-size: cover;
  height: calc((100vh - 120px) / 3);
  position: relative;
}

.game__name {
  color: white;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 1.4vw;
  padding: 0 10px;
  overflow: hidden;
}

.game__description {
  opacity: 0;
  padding-top: 10px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.game__price {
  position: absolute;
  height: 20%;
  width: 70px;
  background-color: #9c5748;
  right: 15px;
  top: -4px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.1vw;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: calc(20% - 4px);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 15px solid #9c5748;
}
