<div class="game" [ngStyle]="{ 'background-image': 'url(' + game.Image + ')'}" (mouseenter)="blockOnHover=true"
    (mouseleave)="blockOnHover=false" [routerLink]="['/game', game.Id]">
    <div class="game__name" [@onHover]="blockOnHover ? 'hover' : 'initial'">{{ game.Name }}
        <div class="game__description" [@gameDescription]="blockOnHover ? 'hover' : 'initial'"
            [innerHTML]="game.Description">
        </div>
    </div>
    <div class="game__price">{{ getConvertedPrice(game) }}</div>
    <div class="triangle"></div>
</div>