.game {
    /* background-image: url(../../../assets/images/ + game); */
    background-color: rgb(82, 82, 88);
    border: 1px solid white;
    background-size: cover;
    height: calc((100vh - 120px) / 3); 
}

.game__name {
    color: white;
}