:host {
  display: block;
  background-color: #1e2230;
  padding: 20px 15%;
  margin: 0 auto;
  font-family: "Baloo Chettan 2", cursive;
}

.main {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  justify-content: space-around;
}

.images {
  align-self: center;
  width: 70%;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.other-images {
  display: flex;
  width: 100%;
  overflow: auto;
}

.other-images>img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin: 10px 10px 10px 0;
}

.side-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-info>* {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.review-name {
  margin: 10px 0;
  color: #8995ff;
}

.price-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 22px;
}

.price-block .price {
  align-self: flex-end;
  margin: 0;
}

.name,
.seller-block .seller {
  font-size: 26px;
  color: #8995ff;
  margin: 0;
}

.description {
  word-break: break-word;
}

.reviews-block {
  flex: auto;
  margin: 10px 0;
}

.seller-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller-block p {
  margin: 0;
}

.prices {
  align-self: flex-end;
}

.old-price {
  text-decoration: line-through;
  color: #757575;
}

.seller-block .price {
  font-size: 22px;
}

.seller-block:hover,
.about-game .seller:hover {
  cursor: pointer;
}

.details {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.about-game {
  background-color: rgba(0, 0, 0, 0.5);
  width: 71%;
  padding: 30px;
}

.similar-games {
  background-color: rgba(0, 0, 0, 0.5);
  width: 27%;
  padding: 15px;
}

.little-title {
  color: #8995ff;
  font-size: 18px;
}

.genre {
  background-color: rgba(128, 128, 128, 0.5);
  display: inline-block;
  border-radius: 5px;
  margin: 0 10px 5px 0;
  padding: 2px 5px;
  cursor: default;
}

.about-game .seller {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  padding: 0 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  cursor: default;
}

.game-name {
  font-size: 20px;
  margin: 0;
}

.seller-name {
  margin: 0;
  font-size: 18px;
  color: #757575;
}

.seller .price {
  font-size: 22px;
}

app-modal-image-gallery {
  position: fixed;
}
