mat-form-field {
  width: 300px;
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(31, 31, 31) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: rgb(39, 39, 39) !important;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 5px 0;
  width: 120px;
  border-radius: 2px;
  border: 1px solid rgb(20, 20, 20);
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(85, 85, 85);
}

.error {
  line-height: 1.2em;
  transform: translateY(10px);
  font-size: 75%;
  position: absolute;
  left: 0;
}

button:disabled {
  border: none;
  background-color: #cccccc;
  color: #666666;
}
