<form #signInForm="ngForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput name="username" [(ngModel)]="data.username" placeholder="Enter your username"
                name="username" #username="ngModel" required />
            <div class="error" [hidden]="username.valid || username.untouched">
                Username is <strong>required</strong>
            </div>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="data.password" type="password" placeholder="Enter your password" autocomplete="off"
                name="password" #password="ngModel" required>
            <div class="error" [hidden]="password.valid || password.untouched">
                Password is <strong>required</strong>
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="button" (click)="dialogRef.close()">Cancel</button>
        <button type="submit" [mat-dialog-close]="data" [disabled]="!signInForm.form.valid">Ok</button>
    </div>
</form>