<div class="main">
    <app-gallery class="gallery"></app-gallery>

    <form
        #form="ngForm"
        class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="wrapper">
            <p class="title">Login</p>

            <mat-form-field class="form__field">
                <mat-label>Enter your email</mat-label>
                <input
                    formControlName="email"
                    matInput
                    placeholder="Your email"
                    required
                    type="text"
                    id="loginEmail"
                >
                <mat-error *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                    Email is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form__field">
                <mat-label>Enter your password</mat-label>
                <input
                    [type]="hidePass ? 'password' : 'text'"
                    formControlName="password"
                    matInput
                    placeholder="Your password"
                    required
                    id="loginPassword"
                >
                <i
                    [class]="hidePass ? 'fas fa-eye-slash' : 'fas fa-eye'"
                    matSuffix
                    (click)="hidePass = !hidePass"
                ></i>
                <mat-error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                    Password is required
                </mat-error>
            </mat-form-field>

            <div class="login">
                <a>Forgot password?</a>
                <button
                    [disabled]="loginForm.invalid"
                    type="submit"
                    id="loginSubmit"
                >Login
                </button>
            </div>
            <div class="register">
                <span>Still not a member?</span>
                <button
                    routerLink="/register"
                    type="button"
                    id="registerButton"
                >Register
                </button>
            </div>
        </div>
    </form>
</div>
