header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Baloo Chettan 2', cursive;
}

.logo {
  height: 40px;
  margin-left: 30px;
  border: 1px dashed blueviolet;
  border-radius: 5px;
}

.logo:hover {
  cursor: pointer;
}

.header__item {
  display: inline-block;
}

.header__list>.header__item:first-child {
  border-left: 1px solid white;
}

.header__link {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.last-link {
  margin-left: auto;
}
