<header>
    <img class="logo" src="../../assets/images/logo.png" alt="GaSt Logo" routerLink="/">
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item"><a class="header__link" routerLink="/">Main</a></li>
        </ul>
    </nav>
    <ng-container *ngIf="authService.isUserAuthorized(); else UserNotAuthorized">
        <ng-container *ngIf="(currentUrl$ | async) !== '/profile'; else ProfilePage">
            <a
                class="header__link last-link"
                routerLink="/profile"
            >Profile</a>
        </ng-container>
        <ng-template #ProfilePage>
            <div
                class="header__link last-link"
                (click)="logOut()"
            >Log out
            </div>
        </ng-template>
    </ng-container>
    <ng-template #UserNotAuthorized>
        <a
            class="header__link last-link"
            routerLink="/login"
        >Login</a>
    </ng-template>
</header>
