.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Bangers', cursive;
}

.countdown div {
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 20px;
    margin: 10px;
}