:host {
    display: block;
    background: rgb(50, 54, 68);
    padding: 30px;
}

.label {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.siteName {
    font-weight: bold;
    color: rgb(141, 1, 255);
}

.siteName:hover {
    text-decoration: none;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Bangers', cursive;
}

.countdown div {
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 20px;
    margin: 10px 15px;
}